@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@font-face {
  font-family: "Rubik";
  src: url("/src/assets/font/Rubik-VariableFont_wght.ttf") format("opentype");
}

body {
  font-family: "Rubik";
  margin: 0;
}

a {
  color: #2c65f7;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.MuiPickersPopper-root .MuiPaper-root.MuiPaper-elevation {
  border: 1px solid #eaecf0;
  box-shadow:
    0px 12px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  border-radius: 8px;
}

.MuiDateCalendar-root .MuiPickersArrowSwitcher-root {
  gap: 8px;
}
.MuiDateCalendar-root button.MuiPickersArrowSwitcher-button.MuiButtonBase-root {
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  width: 36px;
  height: 36px;
}

.MuiDateCalendar-root
  button.MuiPickersArrowSwitcher-button.MuiButtonBase-root
  svg {
  font-size: 20px;
}

/* ------------ year button ---------- */
.MuiDateCalendar-root .MuiPickersYear-root .MuiPickersYear-yearButton {
  border-radius: 8px;
  font-size: 16px;
  color: #525c6e;
}
.MuiDateCalendar-root
  .MuiPickersYear-root
  .MuiPickersYear-yearButton.Mui-selected {
  background-color: #2c65f7;
  color: #fff;
}
.MuiDateCalendar-root
  .MuiPickersYear-root
  .MuiPickersYear-yearButton.Mui-disabled {
  background-color: transparent;
  opacity: 0.5;
}

/* ------------ month button -------------- */
.MuiDateCalendar-root .MuiPickersMonth-root .MuiPickersMonth-monthButton {
  border-radius: 8px;
  font-size: 16px;
  color: #525c6e;
}
.MuiDateCalendar-root
  .MuiPickersMonth-root
  .MuiPickersMonth-monthButton.Mui-selected {
  background-color: #2c65f7;
  color: #fff;
}
.MuiDateCalendar-root
  .MuiPickersMonth-root
  .MuiPickersMonth-monthButton.Mui-disabled {
  background-color: transparent;
  opacity: 0.5;
}

/* ------------ day button -------------- */
.MuiDateCalendar-root .MuiButtonBase-root.MuiPickersDay-root {
  border-radius: 8px;
}
.MuiDateCalendar-root .MuiButtonBase-root.MuiPickersDay-root:hover {
  background-color: hsla(216, 86%, 97%, 1);
}

.MuiDateCalendar-root .MuiButtonBase-root.MuiPickersDay-root.Mui-selected {
  background-color: #2c65f7;
}

.MuiDateCalendar-root
  .MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-today {
  border: none;
}

.MuiDateCalendar-root
  .MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-today::after {
  content: " ";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transform: translateY(12px);
  background-color: #2c65f7;
}

.MuiDateCalendar-root
  .MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-today.Mui-selected::after {
  background-color: #fff;
}

.card-dashboard .p-dashboard {
  padding: 24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
