$neutral-25: #FCFCFD;
$neutral-50: #F9FAFB;
$neutral-100: #F3F4F6;
$neutral-200: #E5E7EB;
$neutral-300: #D2D6DB;
$neutral-400: #9DA4AE;
$neutral-500: #6C737F;
$neutral-600: #4D5761;
$neutral-700: #384250;
$neutral-800: #1F2A37;
$neutral-900: #111927;

$primary-25: #FFFAFC;
$primary-50: #FFEEF6;
$primary-100: #FEB0D8;
$primary-200: #FF8AC6;
$primary-300: #FF54AA;
$primary-400: #FF339A;
$primary-500: #FF0180;
$primary-600: #E90075;
$primary-700: #B4005B;
$primary-800: #8C0146;
$primary-900: #6B0036;

$secondary-25: #F7FAFA;
$secondary-50: #F1FAF9;
$secondary-100: #B2CFCD;
$secondary-200: #8CB9B6;
$secondary-300: #599794;
$secondary-400: #388380;
$secondary-500: #05645E;
$secondary-600: #055B56;
$secondary-700: #054743;
$secondary-800: #033733;
$secondary-900: #022624;

$success-25: #FAFBF6;
$success-50: #FAFBF1;
$success-100: #F6FBD6;
$success-200: #EDF8AF;
$success-300: #D9EB86;
$success-400: #C2D868;
$success-500: #A2C045;
$success-600: #87A438;
$success-700: #6E892D;
$success-800: #566E22;
$success-900: #445B1A;

$info-25: #F6FBF9;
$info-50: #F1FBF7;
$info-100: #EEFBF6;
$info-200: #DFF8F1;
$info-300: #C9EEE7;
$info-400: #B3DDDB;
$info-500: #88C9CA;
$info-600: #73A4AC;
$info-700: #54818F;
$info-800: #396073;
$info-900: #26465E;

$warning-25: #FEFEF9;
$warning-50: #FEFDF4;
$warning-100: #FEFCE9;
$warning-200: #FDFAD3;
$warning-300: #FCF6BE;
$warning-400: #F9F1AE;
$warning-500: #FAEB87;
$warning-600: #D4C771;
$warning-700: #B0A353;
$warning-800: #8D803A;
$warning-900: #746728;

$danger-25: #FFF6F2;
$danger-50: #FFECE5;
$danger-100: #FFE5D8;
$danger-200: #FFC4B1;
$danger-300: #FF9D8A;
$danger-400: #FF776D;
$danger-500: #FF3D40;
$danger-600: #DB2C3E;
$danger-700: #B71E3B;
$danger-800: #931337;
$danger-900: #7A0B34;


