$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 600;

$text-h1: 64px;
$text-h2: 56px;
$text-h3: 40px;
$text-h4: 32px;
$text-h5: 24px;
$text-h6: 20px;
$text-large: 18px;
$text-medium: 16px;
$text-small: 14px;
$text-label: 12px;
$text-label-xxs: 10px;
