.TextLabelBankTransfer {
    font-family: 'Montserrat' !important;
    color: $neutral-600;
    font-size: 14px;
    font-weight: 600 !important;
    line-height: 20px;
}

.TextValueBankTransfer {
    font-family: 'Montserrat' !important;
    color: $neutral-900;
    font-size: 14px;
    font-weight: 500 !important;
    line-height: 20px;
}

.ButtonConfirm {
    font-family: 'Montserrat' !important;
    border-radius: 12px;
    border: 1px solid $primary-500 !important;
    background-color: $primary-500 !important;
    color: #FFF;
    font-size: 16px;
    font-weight: 600 !important;
    line-height: 24px;
   
}

.ButtonConfirmModal {
    font-family: 'Montserrat' !important;
    border-radius: 12px;
    border: 1px solid $primary-500 !important;
    background-color: $primary-500 !important;
    padding: 10px 18px;
    width: 170px;
    color: #FFF;
    font-weight: 600 !important;
    box-shadow: none;

}

.ButtonCancelModal {
    font-family: 'Montserrat' !important;
    border-radius: 12px ;
    border: 1px solid $neutral-300 !important ;
    background-color: #FFF !important;
    padding: 10px 18px;
    width: 170px;
    color: $neutral-700 !important;
    font-weight: 600 !important;
    box-shadow: none;

    
}

.ButtonConfirmModal:hover{
    background-color: $primary-500 !important;
}

.ButtonCancelModal:hover {
    background-color: #FFF !important;
}

.TextLabelCheque {
    font-family: 'Montserrat' !important;
    color: $neutral-700;
    font-size: 14px;
    font-weight: 600 !important;
    line-height: 20px;
    
}

.TextValueCheque {
    font-family: 'Montserrat' !important;
    color: $neutral-700;
    font-size: 14px;
    font-weight: 400 !important;
    line-height: 20px;
}

