.TextLabel {
    margin-top: 24px !important;
    margin-bottom: 16px !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 24px;
    color: $secondary-50;
}

.BoxActive {
    border-radius: 12px;
    height: 24px;
    padding: 12px;
    cursor: pointer;
    background-color: $primary-100;
    color: $secondary-800;
}

.BoxInactive {
    border-radius: 12px;
    height: 24px;
    padding: 12px;
    cursor: pointer;
    background-color: $secondary-100; 
    color: $secondary-800;
}

.TextActive {
    font-size: 14px;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 20px;
}

.TextInactive {
    font-size: 14px;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 20px;
}

