.Container {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

    .TextSingpass {
        font-size: 14px;
        color: $neutral-500;
        font-size: normal;
        line-height: 20px;
    }

    .TextEntityType {
        color: $neutral-50;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }


    .BoxActive{
        background-color: $primary-100;
        color: #FFF;
        padding: 8px 14px;
        border-radius: 12px;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        height: 20px;
        width: auto;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .BoxInactive {
        border: 1px solid $primary-50;
        background-color: $primary-50;
        color: $primary-700;
        padding: 8px 14px;
        border-radius: 12px;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        height: 20px;
        width: auto;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .TextActive {
        font-family: 'Montserrat' , !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 600 !important;
        line-height: 20px;
        color: #FFFFFF;
    }

    .TextInactive {
        font-family: 'Montserrat' , !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 600 !important;
        line-height: 20px;
        color: $primary-700;
    }
